@using Deacons.Hybrid.Mobile.Components.Pages
@using Deacons.Hybrid.Mobile.Components.UserForm
@using MudBlazor

@inject Deacons.Hybrid.Shared.Interface.IUsersService users
<div class="top-row ps-3 navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="" Style="color:white">Deacons Administration</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" Style="color:white" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" Style="color:white">Home</MudNavLink>
        <MudNavLink Href="usermamagement" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.People" Style="color:white">Manage Deacon Roster</MudNavLink>
        <MudNavLink Href="scheduler" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CalendarMonth" Style="color:white">Event Scheduler</MudNavLink>
        <MudNavLink Href="messages" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Mail" Style="color:white">Mail Distribution</MudNavLink>
        <MudNavLink Href="settings" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Settings" Style="color:white">Settings</MudNavLink>
</MudNavMenu>

</div>

@code {

}